# 1) Write a python program to display IMDB’s Top rated 100 Indian movies’ data https://www.imdb.com/list/ls056092300/ (i.e. name, rating, year ofrelease) and make data frame.

In [72]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
import bs4
print(bs4.__version__)

4.11.1

In [3]:
def imdb_movies(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    movie_name=[]
    movie_rating=[]
    year_of_release=[]
    
    
    for i in soup.find_all('h3',class_='lister-item-header'):
        movie_name_text=i.text.strip()
        movie_name.append(re.split('\s*[(]\s*',movie_name_text)[0])
    for s in soup.find_all('div',class_="ipl-rating-star small"):
        movie_rating.append(s.text.strip())
    for m in soup.find_all('h3',class_='lister-item-header'):
        movie_year=m.text.strip()
        year_of_release.append(re.split('\s*[()]\s*',movie_year)[1])
        
        
    df=pd.DataFrame({'Movie_Name':movie_name,'Rating':movie_rating, 'Year_of_Release':year_of_release})
    return df
url='https://www.imdb.com/list/ls056092300/'
imdb_movies(url)

                               Movie_Name Rating Year_of_Release
0                     1.\nShip of Theseus      8            2012
1                              2.\nIruvar    8.4            1997
2                     3.\nKaagaz Ke Phool    7.8            1959
3   4.\nLagaan: Once Upon a Time in India    8.1            2001
4                     5.\nPather Panchali    8.2            1955
..                                    ...    ...             ...
95                       96.\nApur Sansar    8.4            1959
96                       97.\nKanchivaram    8.2            2008
97                   98.\nMonsoon Wedding    7.3            2001
98                             99.\nBlack    8.1            2005
99                          100.\nDeewaar      8            1975

[100 rows x 3 columns]

# 2) Write a python program to scrape product name, price and discounts from https://peachmode.com/search?q=bags

In [4]:
def teams(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.text,'html.parser')
    
    products=[]
    price=[]
    discounts=[]


    for i in soup.find_all('div',class_='product-title'):
        products.append(i.text.strip())
    for s in soup.find_all('div',class_='product-prices'):
        price.append(s.text.strip())
    for m in soup.find_all('div',class_='product-tags sale'):
        discounts.append(m.text.strip())
    
            
    df=pd.DataFrame({'Product Name':products,'Prices':price,'Discounts':discounts
                    })
    return df

url='https://peachmode.com/collections/new-arrival?attributeFacetValuesLimit=20&categories[]=new-arrival&currency=USD&getAllVariants=false&page=1&product_product_type[]=Saree&product_product_type[]=Dress%20Material&product_product_type[]=Salwar%20Suit&product_product_type[]=Top%20Bottom%20Set&product_product_type[]=Kurti&productsCount=24&searchedKey=NzhHalJra25ucnVzZThqMmlwemRMZER3VVdxYS9KM3I3VENJdGJQbEJ0UT0%3D&showOOSProductsInOrder=false&sort_field[]=relevance&sort_field[]=createdAt&sort_order[]=asc&sort_order[]=desc&type=DEFAULT'
teams(url)

Empty DataFrame
Columns: [Product Name, Prices, Discounts]
Index: []

In [5]:
url='https://peachmode.com/collections/new-arrival?attributeFacetValuesLimit=20&categories[]=new-arrival&currency=USD&getAllVariants=false&page=1&product_product_type[]=Saree&product_product_type[]=Dress%20Material&product_product_type[]=Salwar%20Suit&product_product_type[]=Top%20Bottom%20Set&product_product_type[]=Kurti&productsCount=24&searchedKey=NzhHalJra25ucnVzZThqMmlwemRMZER3VVdxYS9KM3I3VENJdGJQbEJ0UT0%3D&showOOSProductsInOrder=false&sort_field[]=relevance&sort_field[]=createdAt&sort_order[]=asc&sort_order[]=desc&type=DEFAULT'

html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

In [6]:
products = soup.find("div",class_='product-title')
print(products)

None

In [7]:
page=requests.get('https://peachmode.com/collections/new-arrival?attributeFacetValuesLimit=20&categories[]=new-arrival&currency=USD&getAllVariants=false&page=1&product_product_type[]=Saree&product_product_type[]=Dress%20Material&product_product_type[]=Salwar%20Suit&product_product_type[]=Top%20Bottom%20Set&product_product_type[]=Kurti&productsCount=24&searchedKey=NzhHalJra25ucnVzZThqMmlwemRMZER3VVdxYS9KM3I3VENJdGJQbEJ0UT0%3D&showOOSProductsInOrder=false&sort_field[]=relevance&sort_field[]=createdAt&sort_order[]=asc&sort_order[]=desc&type=DEFAULT')
page

# 3. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [8]:
def teams(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    team=[]
    matches=[]
    points=[]
    rating=[]

    for i in soup.find_all('div',class_='si-table-data si-team'):
        team.append(i.text.strip())
    for s in soup.find_all('div',class_='si-table-data si-matches'):
        matches.append(s.text.strip())
    for m in soup.find_all('div',class_='si-table-data si-pts'):
        points.append(m.text.strip())
    for t in soup.find_all('div',class_='si-table-data si-rating'):
        rating.append(t.text.strip())
            
    team_10=team[1:11]
    matches_10=matches[1:11]
    points_10=points[1:11]
    rating_10=rating[1:11]
    df=pd.DataFrame({'Top_10_ODI_Team':team_10,'Matches':matches_10,'Points':points_10,'Rating':rating_10})
    return df

url='https://www.icc-cricket.com/rankings/team-rankings/mens/odi'
teams(url)

Empty DataFrame
Columns: [Top_10_ODI_Team, Matches, Points, Rating]
Index: []

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [9]:
def teams(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    players=[]
    team=[]
    rating=[]
    
    for i in soup.find_all('div',class_='si-table-data si-player'):
        team.append(i.text.strip())
    for s in soup.find_all('div',class_='si-table-data si-team'):
        matches.append(s.text.strip())

    for t in soup.find_all('div',class_='si-table-data si-rating'):
        rating.append(t.text.strip())
            
    players_10=players[1:11]
    team_10=team[1:11]
    #points_10=points[1:11]
    rating_10=rating[1:11]
    df=pd.DataFrame({'Top_ODI_10_Batsmen':players_10,'Team':team_10,'Rating':rating_10
                    })
    return df

url='https://www.icc-cricket.com/rankings/batting/mens/odi'
teams(url)

Empty DataFrame
Columns: [Top_ODI_10_Batsmen, Team, Rating]
Index: []

c) Top 10 ODI bowlers along with the records of their team and rating.

In [10]:
def teams(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    players=[]
    team=[]
    rating=[]
    
    for i in soup.find_all('div',class_='si-table-data si-player'):
        team.append(i.text.strip())
    for s in soup.find_all('div',class_='si-table-data si-team'):
        matches.append(s.text.strip())

    for t in soup.find_all('div',class_='si-table-data si-rating'):
        rating.append(t.text.strip())
            
    players_10=players[1:11]
    team_10=team[1:11]
    #points_10=points[1:11]
    rating_10=rating[1:11]
    df=pd.DataFrame({'Top_ODI_bowler_10':players_10,'Team':team_10,'Rating':rating_10
                    })
    return df

url='https://www.icc-cricket.com/rankings/bowling/mens/odi'
teams(url)

Empty DataFrame
Columns: [Top_ODI_bowler_10, Team, Rating]
Index: []

# 4. Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .Scrape the heading, date, content and the likes for the video from the link for the youtube video from the post.

In [11]:
def patreon(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    
    header=[]
    date=[]
    content=[]
    likes=[]
    
    for i in soup.find_all('div',class_="sc-bBHxTw iloeMK"):
        header.append(i.text.strip())
    
    for m in soup.find_all('div',class_="sc-lgu5zg-0 dXpjXs"):
        date.append(m.text.strip())
        
    for s in soup.find_all('div',class_="sc-jrQzAO gnnDyW"):
        content.append(s.text.strip())   
    
    for t in soup.find_all('div',class_="sc-jrQzAO knZGTZ"):
        content.append(t.text.strip())   
    
    df=pd.DataFrame({'Header':header,'Date':date,'Content':content,'No. of Likes':likes})
    return df
url='https://www.patreon.com/coreyms'
patreon(url)

Empty DataFrame
Columns: [Header, Date, Content, No. of Likes]
Index: []

In [12]:
pip install html5lib

Requirement already satisfied: html5lib in c:\users\ganes\anaconda3\lib\site-packages (1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: webencodings in c:\users\ganes\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\ganes\anaconda3\lib\site-packages (from html5lib) (1.16.0)

# 5 Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [84]:
def nobroker(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    title=[]
    location=[]
    area=[]
    emi=[]
    price=[]
    
    for i in soup.find_all('div',class_="flex flex-col flex-2 w-pe mt-1.8px po:justify-center po:p-1p po:mt-0 w-70pe"):
        title.append(i.text.strip())
    for s in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95"):
        area.append(s.text.strip())
    m = soup.find('h1', class_="heading-5 truncate m-0 px-0 pt-1.5p pb-0.5p")
    if m:
        location_text=m.text.strip()
        location=[location_text]*len(title)
    
    for v in soup.find_all('div',class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
        emi.append(v.text.strip())
   
    for t in soup.find_all('div',class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
        price.append(t.text.strip())    
        
      
    if len(title)==len(area)==len(location):
        df=pd.DataFrame({'Title':title,'Area':area,'Location':location,'Price':price,
            'Monthly_Emi':emi})
        df['Location']=df['Location'].str.extract(r'(Indira Nagar,Rajaji Nagar, Chennai)')
        df['Price']=df['Price'].str.extract(r'(\d+(?:.*?₹){2})')
        emi_extracted = df['Monthly_Emi'].str.extract(r'(?:.*?₹){4}(.*)')
        df['Monthly_Emi'] = emi_extracted.fillna(0)     
        
        return df
    else:
        print('Length of array doesnot match')
        return None
url='https://www.nobroker.in/property/sale/chennai/multiple?searchParam=W3sibGF0IjoxMi45OTE2NjMsImxvbiI6ODAuMjUyNDIzMSwicGxhY2VJZCI6IkNoSUpEUWFSallwblVqb1I3cXc4eVNfUzlrQSIsInBsYWNlTmFtZSI6IkluZGlyYSBOYWdhciJ9LHsibGF0IjoxMi45NjU5NjM3LCJsb24iOjgwLjE1MzMyNDkwMDAwMDAyLCJwbGFjZUlkIjoiQ2hJSkFZaHFPMDFlVWpvUmZMOUtCZUphVENjIiwicGxhY2VOYW1lIjoiUmFqYWppIE5hZ2FyIn0seyJsYXQiOjEzLjAzNTY0NzcsImxvbiI6ODAuMjA3MDUyMTAwMDAwMDEsInBsYWNlSWQiOiJDaElKazVYZUFLOW5Vam9SeXJhV1Q4UjRMczAiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifV0=&radius=2.0&city=chennai&locality=Indira%20Nagar,Rajaji%20Nagar,Jayanagar'
nobroker(url)

,Title,Area,Location,Price,Monthly_Emi
0,1 BHK Flat In Brindavan Towers For Sale In Br...,LIG,"Indira Nagar,Rajaji Nagar, Chennai","45 Lacs₹7,653 per sq.ft.₹","25,791/MonthEstimated EMI588 sqftBuiltup"
1,3 BHK House For Sale In K. K. NagarIndependen...,"Independent House, Ashok Pillar Main Rd near E...","Indira Nagar,Rajaji Nagar, Chennai","2.1 Crores₹13,125 per sq.ft.₹","1.2 Lacs/MonthEstimated EMI1,600 sqftBuiltup"
2,2 BHK Apartment In Brindhavan Towers For Sale ...,"Brindhavan Towers Brindhavan Towers Shops, Br...","Indira Nagar,Rajaji Nagar, Chennai","1.05 Crores₹12,209 per sq.ft.₹","60,180/MonthEstimated EMI860 sqftBuiltup"
3,2 BHK Flat In Brindavan Towers For Sale In Kk...,"KK Nagar, Chennai, Tamil Nadu 600078, India","Indira Nagar,Rajaji Nagar, Chennai","1.1 Crores₹12,776 per sq.ft.₹","63,045/MonthEstimated EMI861 sqftBuiltup"
4,"2 BHK Flat In Brindavan Towers, Kk Nagar For S...","KK Nagar, Chennai, Tamil Nadu 600078, India","Indira Nagar,Rajaji Nagar, Chennai","90 Lacs₹9,978 per sq.ft.₹","51,583/MonthEstimated EMI902 sqftBuiltup"
5,2 BHK Flat In Brindavan Towers For Sale In K....,"Anna Main Rd, Brindhavan Towers","Indira Nagar,Rajaji Nagar, Chennai","80 Lacs₹8,869 per sq.ft.₹","45,851/MonthEstimated EMI902 sqftBuiltup"
6,2 BHK Apartment In Brindavan Towers For Sale ...,"Brindavan Towers Anna Main Rd, KK NAGAR","Indira Nagar,Rajaji Nagar, Chennai","82 Lacs₹9,535 per sq.ft.₹","46,997/MonthEstimated EMI860 sqftBuiltup"
7,1 BHK Flat In Madhurams Apartment For Sale In...,"Dr Natesan Salai, Zaffarkhanpet Near Kendriya ...","Indira Nagar,Rajaji Nagar, Chennai","41 Lacs₹7,455 per sq.ft.₹","23,498/MonthEstimated EMI550 sqftBuiltup"
8,"4+ BHK House For Sale In 26p5+rm8, Zaffarkhan...","Independent House, rajambal Street,Near Chamu...","Indira Nagar,Rajaji Nagar, Chennai","95 Lacs₹4,750 per sq.ft.₹","54,448/MonthEstimated EMI2,000 sqftBuiltup"
9,4 BHK Flat In Natrajan Villa For Sale In Asho...,Dr Natesan Salai near Kendriya Vidyalaya Asho...,"Indira Nagar,Rajaji Nagar, Chennai","4.75 Crores₹17,593 per sq.ft.₹","2.72 Lacs/MonthEstimated EMI2,700 sqftBuiltup"
10,1 BHK House For Sale In Ashok NagarIndependen...,"Independent House, Indira Colony Near Udhayam ...","Indira Nagar,Rajaji Nagar, Chennai","1.5 Crores₹25,000 per sq.ft.₹","85,971/MonthEstimated EMI600 sqftBuiltup"
11,2 BHK Flat In Kothari Apartments For Sale In ...,Jaffarkhanpet Bharathi Dasan colony Near Bhuva...,"Indira Nagar,Rajaji Nagar, Chennai","66 Lacs₹6,875 per sq.ft.₹","37,827/MonthEstimated EMI960 sqftBuiltup"
12,3 BHK Flat In 132 M.i.g Flat For Sale In K. K...,Bharathi Dasan Colony Main Road,"Indira Nagar,Rajaji Nagar, Chennai","1.1 Crores₹7,857 per sq.ft.₹","63,045/MonthEstimated EMI1,400 sqftBuiltup"
13,"1 BHK Flat In Ashok Nagar, Ashok Nagar For Sal...","Sector 10, Ashok Nagar, Chennai, Tamil Nadu 60...","Indira Nagar,Rajaji Nagar, Chennai","62 Lacs₹14,762 per sq.ft.₹","35,534/MonthEstimated EMI420 sqftBuiltup"
14,2 BHK Flat In Green Peace Fortuna Kknagar For ...,"pt rajan salai, kknagar chennai","Indira Nagar,Rajaji Nagar, Chennai","1.1 Crores₹11,458 per sq.ft.₹","63,045/MonthEstimated EMI960 sqftBuiltup"
15,2 BHK Flat In 11a Nehru Avenue For Sale In K....,"Bharathidasan Rd, Near K K Nagar, BSNL Telepho...","Indira Nagar,Rajaji Nagar, Chennai","95 Lacs₹12,667 per sq.ft.₹","54,448/MonthEstimated EMI750 sqftBuiltup"
16,2 BHK Flat In Vigneshwara Apartment For Sale ...,No-07 54th lane 11th avanue Ashoknagar near g...,"Indira Nagar,Rajaji Nagar, Chennai","85 Lacs₹9,444 per sq.ft.₹","48,717/MonthEstimated EMI900 sqftBuiltup"
17,2 BHK Flat For Sale In Ashok NagarStandalone ...,"Standalone Building, Thiruverkadu Near Bank of...","Indira Nagar,Rajaji Nagar, Chennai","1.2 Crores₹10,909 per sq.ft.₹","68,777/MonthEstimated EMI1,100 sqftBuiltup"
18,2 BHK Flat In Lakhshmi Ganapathi Apartment Fo...,near shiva vishnu temple,"Indira Nagar,Rajaji Nagar, Chennai","50 Lacs₹6,849 per sq.ft.₹","28,657/MonthEstimated EMI730 sqftBuiltup"
19,2 BHK House For Sale In K. K. NagarIndependen...,"Independent House, PT Rajan Road","Indira Nagar,Rajaji Nagar, Chennai","1.6 Crores₹10,000 per sq.ft.₹","91,703/MonthEstimated EMI1,600 sqftBuiltup"
20,2 BHK Flat In Sri Varava For Sale In Jafferkh...,gankai amman street.jaffarcanpet,"Indira Nagar,Rajaji Nagar, Chennai","60 Lacs₹6,936 per sq.ft.₹","34,388/MonthEstimated EMI865 sqftBuiltup"
21,1 BHK Flat In Ptc Quaters For Sale In 26q6+q4...,80th street NEAR CHENNAI PRIMARY SCHOOL,"Indira Nagar,Rajaji Nagar, Chennai","36.5 Lacs₹9,125 per sq.ft.₹","20,919/MonthEstimated EMI400 sqftBuiltup"
22,3 BHK Flat In Kala Apartments For Sale In Kas...,Pillayar Koil Street Jafferkhanpet,"Indira Nagar,Rajaji Nagar, Chennai","95 Lacs₹7,570 per sq.ft.₹","54,448/MonthEstimated EMI1,255 sqftBuiltup"
23,2 BHK Flat In Mahalakshmi Park For Sale In We...,"Pillaiyar Koil St Netaji Nagar, Mahalakshmi ...","Indira Nagar,Rajaji Nagar, Chennai","70 Lacs₹8,653 per sq.ft.₹","40,120/MonthEstimated EMI809 sqftBuiltup"
24,1 BHK House For Sale In JafferkhanpetIndepend...,"Independent House, Pillaiyar Koil St near Kasi...","Indira Nagar,Rajaji Nagar, Chennai","35 Lacs₹4,667 per sq.ft.₹","20,060/MonthEstimated EMI750 sqftBuiltup"
25,1 BHK Flat In Brindavan Towers For Sale In Br...,LIG,"Indira Nagar,Rajaji Nagar, Chennai","45 Lacs₹7,653 per sq.ft.₹","25,791/MonthEstimated EMI588 sqftBuiltup"

# 6) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/bestseller?sort=popular .

In [28]:
def bewoof(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    product_name=[]
    price=[]
    image_url=[]
    
    for i in soup.find_all('div',class_='productNaming bkf-ellipsis'):
        product_name.append(i.text.strip())
    #for s in soup.find_all('div',class_='discountedPriceText clr-p-black   false  '):
        #price.append(s.text.strip())
    
        
    #product_name_10=product_name[:10]
    #price_10=price[:10]
    df=pd.DataFrame({'Product Name':product_name,#'Price':price_10
                    })
    return df
url='https://www.bewakoof.com/bestseller?sort=popular'
bewoof(url)

                                        Product Name
0  bewakoof x disneyWomen's White & Black All Ove...
1  Bewakoof®Women's Pink & White Camo Printed Ove...
2  bewakoof x garfieldWomen's White All Over I Ha...
3                 Bewakoof®Women's Brown Cargo Pants
4        Bewakoof®Women's Brown Straight Cargo Pants
5        Bewakoof®Women's Black Straight Cargo Pants
6         Bewakoof®Women's Blue Straight Cargo Pants
7                       Bewakoof®Men's White T-shirt
8                       Bewakoof®Men's Black T-shirt
9  Bewakoof®Men's Black Create Good Stories Typog...

In [114]:
def bewoof(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    product_name=[]
    price=[]
    image_url=[]
    
    #for i in soup.find_all('div',class_='productNaming bkf-ellipsis'):
        #product_name.append(i.text.strip())
    for s in soup.find_all('div',class_='discountedPriceText clr-p-black   false  '):
        price.append(s.text.strip())
    
        
    #product_name_10=product_name[:10]
    price_10=price[:10]
    df=pd.DataFrame({#'Product Name':product_name_10,
        'Price':price_10
                    })
    return df
url='https://www.bewakoof.com/bestseller?sort=popular'
bewoof(url)

Empty DataFrame
Columns: [Price]
Index: []

In [23]:
def bewoof(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    product_name=[]
    price=[]
    image_urls=[]
    
   
    for m in soup.find_all('div',class_="productCardImg false"):
        image_url=m.get('src')
        if image_url:
            image_urls.append(image_url)
    
     
    df=pd.DataFrame({#'Product Name':product_name_10,
        #'Price':price_10
                    'Image_Url':image_urls})
    return df
url='https://www.bewakoof.com/bestseller?sort=popular'
bewoof(url)

Empty DataFrame
Columns: [Image_Url]
Index: []

# 7)Please visit https://www.cnbc.com/world/?region=world and scrap- a) headings b) date c) News link

a)headings

In [113]:
page=requests.get("https://www.cnbc.com/world/?region=world")
soup=BeautifulSoup(page.content)

header=[]
for i in soup.find_all('a',class_="LatestNews-headline"):
    header.append(i.text.strip())
df1=pd.DataFrame({'Headings':header})
df1

                                             Headings
0   Treasury yields ease slightly ahead of key inf...
1   Anglo American rejects BHP's $39 billion takeo...
2   China's Xi will meet U.S. Secretary of State A...
3   European markets open higher as positive momen...
4   Meet Sacha Jafri, the Dubai artist whose work ...
5   Ukraine can keep on fighting Russia. The victo...
6   India’s farmers are up in arms again. Will it ...
7   Asia was most impacted by extreme weather and ...
8   Bank of Japan keeps monetary policy unchanged,...
9   Former Tesla SVP Drew Baglino is selling $181....
10  India 'confident' new EV policy measures will ...
11  We're hiking our Alphabet price target after t...
12  Microsoft says cloud AI demand is exceeding su...
13  Microsoft shares jump 4% after the big AI winn...
14  Japanese yen weakens to 156 against dollar aft...
15  Alphabet tempers fears that it's falling behin...
16  Goldman Sachs likes these 2 mobile gaming stoc...
17  Tractor Supply CEO says there's still 'signifi...
18  Should investors buy the dip in Lululemon? Her...
19   Cramer's Lighting Round: Don't buy NuScale Power
20  Cramer praises companies like Chipotle that ca...
21  S&P 500 futures pop in overnight trading, boos...
22  Stocks making the biggest moves after hours: A...
23  Mark Zuckerberg's net worth plummets more than...
24                  CNBC Stock Draft 2024 Leaderboard
25  Charlotte Flair likes IBM, Eddie George picks ...
26  Here's why Thursday's post-GDP sell-off may be...
27  Snap shares soar 23% as company beats on earni...
28  Intel shares fall after company provides weak ...
29  Alphabet issues first-ever dividend, $70 billi...

c)News Link

In [104]:
news_links=[]
for m in soup.find_all('a',class_='LatestNews-headline'):
    news_link=m.get('href')
    if news_link:
        news_links.append(news_link)
    
df2=pd.DataFrame({'News Link':news_links})
print(df2)

                                            News Link
0   https://www.cnbc.com/2024/04/26/us-treasury-yi...
1   https://www.cnbc.com/2024/04/26/anglo-american...
2   https://www.cnbc.com/2024/04/26/us-china-blink...
3   https://www.cnbc.com/2024/04/26/european-marke...
4   https://www.cnbc.com/2024/04/26/sacha-jafri-th...
5   https://www.cnbc.com/2024/04/26/the-victory-uk...
6   https://www.cnbc.com/2024/04/26/india-election...
7   https://www.cnbc.com/2024/04/26/asia-most-impa...
8   https://www.cnbc.com/2024/04/26/bank-of-japan-...
9   https://www.cnbc.com/2024/04/25/former-tesla-s...
10  https://www.cnbc.com/2024/04/26/india-says-new...
11  https://www.cnbc.com/2024/04/25/googl-delivers...
12  https://www.cnbc.com/2024/04/25/microsoft-says...
13  https://www.cnbc.com/2024/04/25/microsoft-shar...
14  https://www.cnbc.com/2024/04/26/asia-markets.html
15  https://www.cnbc.com/2024/04/25/alphabet-tempe...
16  https://www.cnbc.com/2024/04/26/goldman-sachs-...
17  https://www.cnbc.com/2024/04/25/tractor-supply...
18  https://www.cnbc.com/2024/04/26/should-investo...
19  https://www.cnbc.com/2024/04/25/cramers-lighti...
20  https://www.cnbc.com/2024/04/25/cramer-praises...
21  https://www.cnbc.com/2024/04/25/stock-market-t...
22  https://www.cnbc.com/2024/04/25/stocks-making-...
23  https://www.cnbc.com/2024/04/25/mark-zuckerber...
24  https://www.cnbc.com/2024/04/25/cnbc-stock-dra...
25  https://www.cnbc.com/2024/04/25/cnbcs-2024-sto...
26  https://www.cnbc.com/2024/04/25/heres-why-thur...
27  https://www.cnbc.com/2024/04/25/snap-snap-q1-2...
28  https://www.cnbc.com/2024/04/25/intel-intc-ear...
29  https://www.cnbc.com/2024/04/25/alphabet-issue...

In [106]:
import re

news_links = []
dates=[]

for m in soup.find_all('a', class_='LatestNews-headline'):
    news_link = m.get('href') 
    if news_link:  
        news_links.append(news_link)  
        date_match = re.search(r'/(\d{4})/(\d{2})/(\d{2})/', news_link)

        if date_match:
            year = date_match.group(1)
            month = date_match.group(2)
            day = date_match.group(3)
            extracted_date = f"{year}-{month}-{day}"
            dates.append(extracted_date)
        else:
            dates.append(None)

df3 = pd.DataFrame({'Dates':dates})

df3

         Dates
0   2024-04-26
1   2024-04-26
2   2024-04-26
3   2024-04-26
4   2024-04-26
5   2024-04-26
6   2024-04-26
7   2024-04-26
8   2024-04-26
9   2024-04-25
10  2024-04-26
11  2024-04-25
12  2024-04-25
13  2024-04-25
14  2024-04-26
15  2024-04-25
16  2024-04-26
17  2024-04-25
18  2024-04-26
19  2024-04-25
20  2024-04-25
21  2024-04-25
22  2024-04-25
23  2024-04-25
24  2024-04-25
25  2024-04-25
26  2024-04-25
27  2024-04-25
28  2024-04-25
29  2024-04-25

In [110]:
de=pd.concat([df1,df2,df3],axis=1)
de

,Headings,News Link,Dates
0,Treasury yields ease slightly ahead of key inf...,https://www.cnbc.com/2024/04/26/us-treasury-yi...,2024-04-26
1,Anglo American rejects BHP's $39 billion takeo...,https://www.cnbc.com/2024/04/26/anglo-american...,2024-04-26
2,"Blinken says U.S., China must avoid miscalcula...",https://www.cnbc.com/2024/04/26/us-china-blink...,2024-04-26
3,European markets open higher as positive momen...,https://www.cnbc.com/2024/04/26/european-marke...,2024-04-26
4,"Meet Sacha Jafri, the Dubai artist whose work ...",https://www.cnbc.com/2024/04/26/sacha-jafri-th...,2024-04-26
5,Ukraine can keep on fighting Russia. The victo...,https://www.cnbc.com/2024/04/26/the-victory-uk...,2024-04-26
6,India’s farmers are up in arms again. Will it ...,https://www.cnbc.com/2024/04/26/india-election...,2024-04-26
7,Asia was most impacted by extreme weather and ...,https://www.cnbc.com/2024/04/26/asia-most-impa...,2024-04-26
8,"Bank of Japan keeps monetary policy unchanged,...",https://www.cnbc.com/2024/04/26/bank-of-japan-...,2024-04-26
9,Former Tesla SVP Drew Baglino is selling $181....,https://www.cnbc.com/2024/04/25/former-tesla-s...,2024-04-25
10,India 'confident' new EV policy measures will ...,https://www.cnbc.com/2024/04/26/india-says-new...,2024-04-26
11,We're hiking our Alphabet price target after t...,https://www.cnbc.com/2024/04/25/googl-delivers...,2024-04-25
12,Microsoft says cloud AI demand is exceeding su...,https://www.cnbc.com/2024/04/25/microsoft-says...,2024-04-25
13,Microsoft shares jump 4% after the big AI winn...,https://www.cnbc.com/2024/04/25/microsoft-shar...,2024-04-25
14,Japanese yen weakens to 156 against dollar aft...,https://www.cnbc.com/2024/04/26/asia-markets.html,2024-04-26
15,Alphabet tempers fears that it's falling behin...,https://www.cnbc.com/2024/04/25/alphabet-tempe...,2024-04-25
16,Goldman Sachs likes these 2 mobile gaming stoc...,https://www.cnbc.com/2024/04/26/goldman-sachs-...,2024-04-26
17,Tractor Supply CEO says there's still 'signifi...,https://www.cnbc.com/2024/04/25/tractor-supply...,2024-04-25
18,Should investors buy the dip in Lululemon? Her...,https://www.cnbc.com/2024/04/26/should-investo...,2024-04-26
19,Cramer's Lighting Round: Don't buy NuScale Power,https://www.cnbc.com/2024/04/25/cramers-lighti...,2024-04-25
20,Cramer praises companies like Chipotle that ca...,https://www.cnbc.com/2024/04/25/cramer-praises...,2024-04-25
21,"S&P 500 futures pop in overnight trading, boos...",https://www.cnbc.com/2024/04/25/stock-market-t...,2024-04-25
22,Stocks making the biggest moves after hours: A...,https://www.cnbc.com/2024/04/25/stocks-making-...,2024-04-25
23,Mark Zuckerberg's net worth plummets more than...,https://www.cnbc.com/2024/04/25/mark-zuckerber...,2024-04-25
24,CNBC Stock Draft 2024 Leaderboard,https://www.cnbc.com/2024/04/25/cnbc-stock-dra...,2024-04-25
25,"Charlotte Flair likes IBM, Eddie George picks ...",https://www.cnbc.com/2024/04/25/cnbcs-2024-sto...,2024-04-25
26,Here's why Thursday's post-GDP sell-off may be...,https://www.cnbc.com/2024/04/25/heres-why-thur...,2024-04-25
27,Snap shares soar 23% as company beats on earni...,https://www.cnbc.com/2024/04/25/snap-snap-q1-2...,2024-04-25
28,Intel shares fall after company provides weak ...,https://www.cnbc.com/2024/04/25/intel-intc-ear...,2024-04-25
29,"Alphabet issues first-ever dividend, $70 billi...",https://www.cnbc.com/2024/04/25/alphabet-issue...,2024-04-25

# 8) Please visit https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded- articles/ and scrap- a) Paper title b) date c) Author

In [ ]:
h2[class="h5 article-title"]
p [class='article-date']
p [class='article-authors']

In [112]:
def articles(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    title=[]
    date=[]
    authors=[]
    
    for i in soup.find_all('h2',class_='h5 article-title'):
        title.append(i.text.strip())
    for m in soup.find_all('p',class_='article-date'):
        date.append(m.text.strip())
    for l in soup.find_all('p',class_='article-authors'):
        authors.append(l.text.strip())
        
    df=pd.DataFrame({'Title':title,'Date':date,'Authors':authors})
    return df
url='https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/'
articles(url)

,Title,Date,Authors
0,Implementation of artificial intelligence in a...,2020,Tanha Talaviya | Dhara Shah | Nivedita Patel...
1,A comprehensive review on automation in agricu...,June 2019,Kirtan Jha | Aalap Doshi | Poojan Patel | M...
2,Review of agricultural IoT technology,2022,Jinyuan Xu | Baoxing Gu | Guangzhao Tian
3,Automation and digitization of agriculture usi...,2021,A. Subeesh | C.R. Mehta
4,Real-time hyperspectral imaging for the in-fie...,2020,Zongmei Gao | Yuanyuan Shao | Guantao Xuan |...
5,A review of imaging techniques for plant disea...,2020,Vijai Singh | Namita Sharma | Shikha Singh
6,Applications of electronic nose (e-nose) and e...,2020,Juzhong Tan | Jie Xu
7,Fruit ripeness classification: A survey,March 2023,Matteo Rizzo | Matteo Marcuzzo | Alessandro ...
8,Deep learning based computer vision approaches...,2022,V.G. Dhanya | A. Subeesh | N.L. Kushwaha | ...
9,DeepRice: A deep learning and deep feature bas...,March 2024,P. Isaac Ritharson | Kumudha Raimond | X. An...
10,Transfer Learning for Multi-Crop Leaf Disease ...,2022,Ananda S. Paymode | Vandana B. Malode
11,How artificial intelligence uses to achieve th...,June 2023,Vilani Sachithra | L.D.C.S. Subhashini
12,Comparison of CNN-based deep learning architec...,September 2023,Md Taimur Ahad | Yan Li | Bo Song | Touhid ...
13,Plant disease detection using hybrid model bas...,2021,Punam Bedi | Pushkar Gole
14,Deep convolutional neural network models for w...,2022,A. Subeesh | S. Bhole | K. Singh | N.S. Cha...
15,Examining the interplay between artificial int...,2022,Abderahman Rejeb | Karim Rejeb | Suhaiza Zai...
16,Machine learning in nutrient management: A review,September 2023,Oumnia Ennaji | Leonardus Vergütz | Achraf E...
17,A systematic review of machine learning techni...,2022,Md Ekramul Hossain | Muhammad Ashad Kabir | ...
18,A review on computer vision systems in monitor...,2020,Cedric Okinda | Innocent Nyalala | Tchalla K...
19,Machine learning for weed–plant discrimination...,December 2023,Filbert H. Juwono | W.K. Wong | Seema Verma ...
20,Artificial cognition for applications in smart...,2020,Misbah Pathan | Nivedita Patel | Hiteshri Ya...
21,Vision Intelligence for Smart Sheep Farming: A...,March 2024,Galib Muhammad Shahriar Himel | Md. Masudul I...
22,Explainable artificial intelligence and interp...,2022,Masahiro Ryo
23,Crop diagnostic system: A robust disease detec...,December 2023,R. Abbasi | P. Martinez | R. Ahmad
24,Automated quality inspection of baby corn usin...,March 2024,Kris Wonggasem | Pongsan Chakranon | Papis W...