In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.keys import Keys
import re
from selenium.common.exceptions import ElementNotVisibleException
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException, TimeoutException
import time
import requests

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

In [2]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [36]:
rank=[]

In [37]:
#fetching rank for youtube video
for i in range(1,len(name)+1):
    rank.append(i)

In [14]:
name=[]

In [15]:
#fetching title of the youtube video
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]'):
        name.append(i.text)
except NoSuchElementException as e:
    name.append('-')

In [19]:
artist=[]

In [20]:
#fetching artist names
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]'):
        artist.append(i.text)
except NoSuchElementException as e:
    artist.append('-')

In [24]:
date=[]

In [25]:
#fetching date of the video released
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]'):
        date.append(i.text)
except NoSuchElementException as e:
    date.append('-')

In [29]:
views=[]

In [30]:
#fetching no.of views of the video
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]'):
        views.append(i.text)
except NoSuchElementException as e:
    views.append('-')

In [38]:
df=pd.DataFrame({'Rank':rank,
                  'Name':name,
                'Artist':artist,
                'Upload Date':date,
                'Views(billions)':views})

In [39]:
df

,Rank,Name,Artist,Upload Date,Views(billions)
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.44
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
4,5,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.27
5,6,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.26
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.23
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.15
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.11
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.63
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.58
13,14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.54
14,15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
15,16,"""Sugar""[41]",Maroon 5,"January 14, 2015",4.05
16,17,"""Lakdi Ki Kathi""[42]",Jingle Toons,"June 14, 2018",4.04
17,18,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.02
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",4.00
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.93
20,21,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.84
21,22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
22,23,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.80
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.77
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.74
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.72
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.66
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.63
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.61
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.60

In [40]:
df.to_csv('youtubelist_wikipedia.csv')

# 2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [41]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [43]:
btn=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
btn.click()

In [44]:
#clicking the more matches link to produce more result
more_matches=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[2]/div/button')
more_matches.click()

In [42]:
series=[]

In [45]:
#fetching series or tournment name
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        series.append(i.text)
except NoSuchElementException:
    series.append('-')

In [50]:
place=[]

In [51]:
#fetching location the matches conducting
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]'):
        place.append(i.text)
except NoSuchElementException:
    place.append('-')

In [66]:
Date=[]

In [67]:
#fetching scheduled date for each matches
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-date-info"]'):
        Dat=i.text
        match=re.search(r'(.*)(.*)',Dat)
        if match:
            da=match.group(1)
            Date.append(da)
except NoSuchElementException:
    Date.append('-')

In [83]:
Time=[]

In [84]:

#fetching timing for the scheduled date when match going to play
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-date-info"]'):
        tim=i.text
        match=re.search(r'(.*)([\n]\d+.*)',tim)
        if match:
            ti=match.group(2)
            Time.append(ti)
except NoSuchElementException:
    Time.append('-')

In [85]:
df=pd.DataFrame({'Series':series,
                'Place':place,
                'Date':Date,
                'Time':Time})

In [86]:
df

,Series,Place,Date,Time
0,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",9 Jun,\n20:00 IST
1,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",12 Jun,\n20:00 IST
2,South Africa Women Tour Of India 2024,"M Chinnaswamy Stadium, Bengaluru",13 Jun,\n13:30 IST
3,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,\n20:00 IST
4,South Africa Women Tour Of India 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,\n13:30 IST
5,South Africa Women Tour Of India 2024,"M Chinnaswamy Stadium, Bengaluru",19 Jun,\n13:30 IST
6,South Africa Women Tour Of India 2024,"M Chinnaswamy Stadium, Bengaluru",23 Jun,\n13:30 IST
7,South Africa Women Tour Of India 2024,"MA Chidambaram Stadium, Chennai",28 Jun,\n9:30 IST
8,South Africa Women Tour Of India 2024,"MA Chidambaram Stadium, Chennai",5 Jul,\n19:00 IST
9,India Tour Of Zimbabwe 2024,"Harare Sports Club, Harare",6 Jul,\n20:00 IST
10,South Africa Women Tour Of India 2024,"MA Chidambaram Stadium, Chennai",7 Jul,\n19:00 IST
11,India Tour Of Zimbabwe 2024,"Harare Sports Club, Harare",7 Jul,\n20:00 IST
12,South Africa Women Tour Of India 2024,"MA Chidambaram Stadium, Chennai",9 Jul,\n19:00 IST
13,India Tour Of Zimbabwe 2024,"Harare Sports Club, Harare",10 Jul,\n20:00 IST
14,India Tour Of Zimbabwe 2024,"Harare Sports Club, Harare",13 Jul,\n20:00 IST
15,India Tour Of Zimbabwe 2024,"Harare Sports Club, Harare",14 Jul,\n20:00 IST
16,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",4 Oct,\n18:30
17,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",6 Oct,\n18:30
18,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",9 Oct,\n18:30
19,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",13 Oct,\n18:30

In [87]:
df.to_csv('bcci_fixture.csv')

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [3]:
driver=webdriver.Chrome()
driver.get('https://statisticstimes.com/')

In [4]:
#By clicking Economy button
ec=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
ec.click()
#By clicking India
ind=driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]')
ind.click()

In [6]:
# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [7]:
rank=[]

In [8]:
#scraping rank
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

In [9]:
state=[]

In [10]:
#scraping state
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        state.append(i.text)
except NoSuchElementException:
    state.append('-')

In [11]:
GSDP1=[]

In [12]:
#scraping GSDP at current price(23-24)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]'):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append('-')

In [16]:
GSDP2=[]

In [17]:
#scraping GSDP at current price(22-23)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append('-')

In [21]:
GSDP3=[]

In [22]:
#scraping GSDP at current price(21-22)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        GSDP3.append(i.text)
except NoSuchElementException:
    GSDP3.append('-')

In [26]:
share=[]

In [27]:
#scraping share(21-22)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        share.append(i.text)
except NoSuchElementException:
    share.append('-')

In [30]:
GSDP4=[]

In [31]:
#scraping GSDP($billion)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]'):
        GSDP4.append(i.text)
except NoSuchElementException:
    GSDP4.append('-')

In [35]:
rank=rank[:33]
state=state[:33]
GSDP1=GSDP1[:33]
GSDP2=GSDP2[:33]
GSDP3=GSDP3[:33]
share=share[:33]
GSDP4=GSDP4[:33]

In [36]:
df=pd.DataFrame({'Rank':rank,
                'State':state,
                'GSDP at Current Price(23-24)':GSDP1,
                'GSDP at current Price(22-23)':GSDP2,
                'GSDP at Current Price(21-22)':GSDP3,
                'Share(21-22)':share,
               'GDP($Billion)':GSDP4})

In [37]:
df

,Rank,State,GSDP at Current Price(23-24),GSDP at current Price(22-23),GSDP at Current Price(21-22),Share(21-22),GDP($Billion)
0,1,Maharashtra,-,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,-,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%,117.660
12,13,Haryana,"1,095,535","984,055","868,905",3.68%,116.001
13,14,Odisha,"832,790","753,177","662,886",2.81%,88.497
14,15,Bihar,-,"751,396","650,302",2.76%,86.817
15,16,Punjab,"736,423","676,164","617,192",2.62%,82.397
16,17,Assam,"565,401","493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%,54.806
18,19,Jharkhand,-,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%,22.984
22,23,Goa,-,"93,672","84,266",0.36%,11.250
23,24,Tripura,-,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,-,"54,285","46,096",0.20%,6.154
25,26,Puducherry,-,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"47,381","42,697","38,785",0.16%,5.178
27,28,Sikkim,-,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%,4.643
30,31,Nagaland,-,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%,1.385

In [38]:
df.to_csv('GDP_State.csv')

# 4.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [87]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [88]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

#get the trend link
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [89]:
url=[]

In [90]:
#getting url of repository
repository_url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in repository_url:
    url.append(i.get_attribute('href'))

In [91]:
len(url)

11

In [92]:
repository_title=[]

In [93]:
#repository title
repository_scrap=driver.find_elements(By.TAG_NAME,'h2')
for i in repository_scrap:
    repository_title.append(i.text)

In [94]:
repository_title=repository_title[2:13]

In [251]:
description=[]

In [252]:
# repository description
for dm in url:
    driver.get(dm)
    for i in driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]'):
        description.append(i.text)

In [ ]:
contributer=[]

In [176]:
#fetching contributer numbers
for dm in url:
    driver.get(dm)
    try:
        cont=driver.find_elements(By.XPATH,'//*[contains(text()," Contributors")]')
        for i in cont:
            contri=i.text.replace('Contributors',"")
        if contri:
            contributer.append(contri)
        else:
            contributer.append('-')
    except NoSuchElementException:
        contributer.append('-')

In [256]:

Language=[]

In [257]:
for dm in url:
    driver.get(dm) 
    lan=[]
#Language used
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            if i:
                lan.append(i.text)
            else:
                lan.append('-')
        Language.append(lan)
    except NoSuchElementException:
        Language.append('-')

In [258]:
df=pd.DataFrame({'Repository':repository_title,
                'Description':description,
                'Contributor':contributer,
                'Language':Language})

In [259]:
df

,Repository,Description,Contributor,Language
0,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...",\n64,"[Jupyter Notebook, Python, TypeScript, JavaScr..."
1,VinciGit00 / Scrapegraph-ai,Python scraper based on AI,\n43,"[Python, Other]"
2,OpenBMB / MiniCPM-V,MiniCPM-Llama3-V 2.5: A GPT-4V Level Multimoda...,\n19,"[Python, Shell]"
3,state-spaces / mamba,Mamba SSM architecture,\n15,"[Python, Cuda, C++, C]"
4,duckdb / duckdb,DuckDB is an analytical in-process SQL databas...,\n324,"[C++, C, Python, Swift, Julia, CMake, Other]"
5,directus / directus,The Modern Data Stack 🐰 — Directus is an insta...,\n387,"[TypeScript, Vue, SCSS, Liquid, CSS, JavaScript]"
6,HeyPuter / puter,"🌐 The Web OS! Free, Open-Source, and Self-Host...",\n51,"[JavaScript, CSS, Other]"
7,TheRealJoelmatic / RemoveAdblockThing,"The intrusive ""Ad blocker are not allowed on Y...",\n28,[JavaScript]
8,LizardByte / Sunshine,Self-hosted game stream host for Moonlight.,\n106,"[C++, HTML, CMake, Vue, Dockerfile, Objective-..."
9,bitcoin / bitcoin,Bitcoin Core integration/staging tree,\n955,"[C++, Python, C, M4, Shell, Makefile, Other]"
10,openssl / openssl,TLS/SSL and crypto library,\n918,"[C, Perl, Raku, Assembly, Shell, C++, Other]"

In [260]:
df.to_csv('Repository_information.csv')

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

In [261]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [262]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[1]/div/div/div[2]/div/nav/ul/li[1]/a').click()

In [263]:
view_more=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()

In [290]:
song_name=[]

In [291]:
#fetching song name from the board
song_scrap1=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
for i in song_scrap1:
    song_name.append(i.text)
song_scrap2=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for j in song_scrap2:
    song_name.append(j.text)

In [304]:
Artist_name=[]

In [305]:

#fetching artist name 
artist_scrap1=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in artist_scrap1:
    Artist_name.append(i.text)
artist_scrap2=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for j in artist_scrap2:
    Artist_name.append(j.text)

In [368]:
Last_week_rank=[]

In [369]:

#fetching last week rank
last1=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for i in last1:
    Last_week_rank.append(i.text)

In [373]:
Peak_rank=[]

In [375]:
#fetching peak ranking

peak_scrap=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for j in peak_scrap:
    Peak_rank.append(j.text)

In [380]:
weeks_on_board=[]

In [381]:
#fetching weeks on board
week_scrap=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for k in week_scrap:
    weeks_on_board.append(k.text)

In [384]:
df=pd.DataFrame({'Song_Name':song_name,
                'Artist':Artist_name,
'Last_Week_Rank':Last_week_rank,
'Peak_Rank':Peak_rank,
'Week_On_Board':weeks_on_board
})

In [385]:
df

,Song_Name,Artist,Last_Week_Rank,Peak_Rank,Week_On_Board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,1
1,Not Like Us,Kendrick Lamar,2,1,1
2,Million Dollar Baby,Tommy Richman,3,2,2
3,A Bar Song (Tipsy),Shaboozey,4,3,3
4,Espresso,Sabrina Carpenter,6,4,4
...,...,...,...,...,...
95,Attitude,Don Toliver Featuring Charlie Wilson & Cash Co...,-,96,96
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,98,97,97
97,The Alchemy,Taylor Swift,82,13,13
98,On One Tonight,Gunna,71,54,54
99,Tu Name,Fuerza Regida,-,66,66

In [386]:
df.to_csv('Billboard_collection.csv')

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [387]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [397]:
book_name=[]
author=[]
volumes=[]
publisher=[]
Genre=[]

In [398]:
#bookname scrap
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[2]'):
    book_name.append(i.text)
    
    
#author scrap
for j in driver.find_elements(By.XPATH,'//tbody//tr//td[3]'):
    if j:
        author.append(j.text)
    else:
        author.append('-')
        
#Volumes scrap
for k in driver.find_elements(By.XPATH,'//tbody//tr//td[4]'):
    if k:
        volumes.append(k.text)
    else:
        volumes.append('-')
        
#publisher scrap
for l in driver.find_elements(By.XPATH,'//tbody//tr//td[5]'):
    if l:
        publisher.append(l.text)
    else:
        publisher.append('-')
        
        
#Genre
for m in driver.find_elements(By.XPATH,'//tbody//tr//td[6]'):
    if m:
        Genre.append(m.text)
    else:
        Genre.append('-')

In [399]:
df=pd.DataFrame({'Book_Name':book_name,
                'Author_Name':author,
                 'Volumes_Sold':volumes,
                 'Publisher':publisher,
                 'Genre':Genre})

In [400]:
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [401]:
df.to_csv('Book_sold.csv')

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls512407256/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [3]:
url='https://www.imdb.com/list/ls512407256/'
driver=webdriver.Chrome()
driver.get(url)

In [4]:
tv_url=[]

In [5]:
#fetching url for all the series
try:    
    url_scrap=driver.find_elements(By.XPATH,'//a[@class="ipc-title-link-wrapper"]')
    for i in url_scrap:
        if i:
            tv_url.append(i.get_attribute('href'))
        else:
            tv_url.append('-')
except NoSuchElementException:
    tv_url.append('-')

In [6]:
len(tv_url)

200

In [7]:
ds=pd.DataFrame({'url':tv_url})

In [9]:
#checking all the urls from the link is unique
ds.url.nunique()

200

In [14]:
title=[]

In [15]:
#fetching title for all the tv series
title_scrap=driver.find_elements(By.TAG_NAME,'h3')
for i in title_scrap:
    tit=i.text
    match=re.sub(r'(\d+\.)',"",tit)    
    if match:
        title.append(match)
    else:
        title.append('-')

In [16]:
title=title[:200]

In [17]:
year_span=[]

In [18]:
genre=[]

In [19]:
runtime=[]

In [20]:
rating=[]

In [21]:
votes=[]

In [22]:
#fetching the yearspan
year_scrap=driver.find_elements(By.XPATH,'//div[@class="sc-b189961a-7 feoqjK dli-title-metadata"]//span[1]')
for i in year_scrap:
    if i:
        year_span.append(i.text)
    else:
        year_span.append('-')

In [23]:
len(year_span)

200

In [28]:
#fetching genre

for dm in tv_url:
    driver.get(dm)
    try:   
        gen=[]
        genre_scrap=driver.find_elements(By.XPATH,'//div[@class="ipc-chip-list--baseAlt ipc-chip-list"]//span')
        for i in genre_scrap:
            if i:
                gen.append(i.text)
            else:
                gen.append('-')
        genre.append(gen)
    except NoSuchElementException:
        genre.append('-')
        
        
 #fetching runtime value       
    try:
        runtime_scrap=driver.find_elements(By.XPATH,'//ul[@class="ipc-inline-list ipc-inline-list--show-dividers sc-d8941411-2 cdJsTz baseAlt"]//li[4]')
        if not runtime_scrap:
            runtime.append('-')
            
        else:
            for i in runtime_scrap:    
                try:
                    runtime.append(i.text)
                except StaleElementReferenceException:# using stale exception for not element not present in the path and not exist
                    runtime.append('-')
    except NoSuchElementException:
        runtime.append('-')

In [29]:
len(genre),len(runtime)

(200, 200)

In [24]:
#fetching rating score
rating_scrap=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"]')
for i in rating_scrap:
    rat=i.text
    match=re.search(r'(\d+\.\d+)',rat)
    if match:
        ra=match.group(1)
        rating.append(ra)
    else:
        rating.append('-')

In [25]:
len(rating)

200

In [26]:
#fetching votes for the series
voting_scrap=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star--voteCount"]')
for i in voting_scrap:
    if i:
        votes.append(i.text)
    else:
        votes.append('-')

In [27]:
len(votes)

200

In [30]:
df=pd.DataFrame({'Title':title,
                'Year_Span':year_span,
                 'Genre':genre,
                 'Runtime':runtime,
                 'Rating':rating,
                 'Total_Votes':votes
                })

In [31]:
df

,Title,Year_Span,Genre,Runtime,Rating,Total_Votes
0,Game of Thrones,2011–2019,"[Action, Adventure, Drama]",1h,9.2,(2.3M)
1,Stranger Things,2016–2025,"[Drama, Fantasy, Horror]",1h,8.7,(1.3M)
2,The Walking Dead,2010–2022,"[Drama, Horror, Thriller]",45m,8.1,(1.1M)
3,13 Reasons Why,2017–2020,"[Drama, Mystery, Thriller]",1h,7.5,(317K)
4,The 100,2014–2020,"[Drama, Mystery, Sci-Fi]",43m,7.6,(278K)
...,...,...,...,...,...,...
195,Reign,2013–2017,[Drama],42m,7.5,(55K)
196,A Series of Unfortunate Events,2017–2019,"[Adventure, Comedy, Drama]",55m,7.7,(67K)
197,Criminal Minds,2005–,"[Crime, Drama, Mystery]",42m,8.1,(220K)
198,Scream: The TV Series,2015–2019,"[Comedy, Crime, Drama]",45m,7.0,(45K)
199,The Haunting of Hill House,2018,"[Drama, Horror, Mystery]",1h,8.5,(291K)

In [32]:
df.to_csv('imdb_tvseries.csv')

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [600]:
Url ='https://archive.ics.uci.edu/'

driver=webdriver.Chrome()
driver.get(Url)

In [601]:
#accessing all dataset page
all_datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
all_datasets.click()

In [602]:
choose=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]')
choose.click()

In [665]:
button=driver.find_element(By.XPATH,'//button[@aria-label="Next Page"]').click()

In [610]:
url=[]

In [666]:
#fetching all the datasets url
datasets_url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in datasets_url:
    url.append(i.get_attribute('href'))

In [668]:
ds=pd.DataFrame({'url':url})

In [671]:
#checking the unique of the url
ds.url.nunique()

665

In [789]:
#button link for the next pages to move on
button=driver.find_element(By.XPATH,'//button[@aria-label="Next Page"]').click()

In [726]:
name=[]

In [790]:
#to scrap name of the dataset
name_scrap=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for j in name_scrap:
    name.append(j.text)

In [791]:
len(name)

665

In [667]:
len(url)

665

In [672]:
Dataset_name=[]

In [673]:
Attribute_type=[]
dat=[]

In [674]:
task=[]

In [675]:
no_attribute=[]

In [676]:
no_instance=[]

In [677]:
datatype=[]

In [678]:
for dm in url:
    driver.get(dm)
    
    #fetching Attribute_type
    try:
        data_typ=driver.find_elements(By.XPATH,'//div[h1[text()="Feature Type"]]/p')
        for i in data_typ:
            if i:
                Attribute_type.append(i.text)
            else:
                Attribute_type.append('-')
        
    except NoSuchElementException:
        Attribute_type.append('-')
                              
    #fetching Task value
    try:
        task_scrap=driver.find_elements(By.XPATH,'//div[h1[text()="Associated Tasks"]]/p')
        for i in task_scrap:  
            if i:
                task.append(i.text)
            else:
                task.append('-')
    except NoSuchElementException:
        task.append('-')
    
    #fetching No. of Attributes
    
    try:
        n_attribute=driver.find_elements(By.XPATH,'//div[h1[text()="# Features"]]/p')
        for i in n_attribute:  
            if i:
                no_attribute.append(i.text)
            else:
                no_attribute.append('-')
    except NoSuchElementException:
        no_attribute.append('-')
    
    #fetching No. of Instances
    
    try:
        n_instance=driver.find_elements(By.XPATH,'//div[h1[text()="# Instances"]]/p')
        for i in n_instance:  
            if i:
                no_instance.append(i.text)
            else:
                no_instance.append('-')
    except NoSuchElementException:
        no_instance.append('-')
        
        
    #fetching Data type
    try:
        n_datatype=driver.find_elements(By.XPATH,'//div[h1[text()="Dataset Characteristics"]]/p')
        for i in n_datatype:  
            if i:
                datatype.append(i.text)
            else:
                datatype.append('-')
    except NoSuchElementException:
        datatype.append('-')

In [960]:
df=pd.DataFrame({'Dataset_Name':name,
                'Datatype':datatype,
                'Task':task,
                'Attribute_Type':Attribute_type,
                'No_of_Instances':no_instance,
                'No_of_Attributes':no_attribute,
                'Year':year3
                })

In [961]:
df

,Dataset_Name,Datatype,Task,Attribute_Type,No_of_Instances,No_of_Attributes,Year
0,Iris,Tabular,Classification,Real,150,4,7/1/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13611,16,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,10/6/2019
4,Raisin,Multivariate,Classification,"Real, Integer",900,7,8/14/2023
...,...,...,...,...,...,...,...
660,NSF Research Award Abstracts 1990-2003,Text,-,-,129000,-,11/18/2003
661,Moral Reasoner,Domain-Theory,-,-,202,-,6/1/1994
662,DGP2 - The Second Data Generation Program,Data-Generator,-,Real,-,-,N/A
663,EBL Domain Theories,-,-,-,-,-,N/A
664,Sattriya_Dance_Single_Hand_Gestures Dataset,Multivariate,Classification,-,1450,-,7/22/2019

In [956]:
#button for the next pages to move on
button=driver.find_element(By.XPATH,'//button[@aria-label="Next Page"]').click()

In [957]:
#to get the value of year in the pages we need to click each expand button twice for the fetching the year value
expand=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]').click()
expand=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]').click()

In [851]:
year3=[]

In [958]:
#fetching each year of the dataset released
for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tbody//tr//td[3]'):
    if i:
        year3.append(i.text)
    else:
        year3.append('-')

In [962]:
df.to_csv('UCI_repository.csv')